{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ken Kilachei</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info  profile-wrapper">
                    <!-- Content for the card in the first column -->
                    <img class="profile-pic" src="{% static 'images/kilachei.jpg' %}" alt="Profile Picture">
                    <br>
                    <h1>Hi I am Kilachei!</h1>
                    <p>I love coding and am passionate about being a software developer.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <!-- Content for the card in the second column -->
                    <h1>From Beginner to Developer: My Coding Story</h1>
                    <p>I began my journey into coding a few years ago, driven by a curiosity about how technology shapes the world around us. It all started with a simple interest in understanding how websites and applications work. I decided to take a leap and enroll in an introductory programming course online.</p>
                    <p>The initial experience was both exciting and daunting. I remember the thrill of writing my first lines of code and watching them come to life on the screen. It was a moment of discovery as I realized the power of coding to solve problems and create solutions. The sense of accomplishment from debugging my first program was incredibly rewarding.</p>
                    <p>Over time, my passion for coding grew stronger. What started as a hobby quickly evolved into a dedicated pursuit. I began to appreciate not only the technical skills but also the problem-solving mindset that coding fosters. The journey has been a mix of frustration and triumph, but each step has been invaluable in shaping my skills and understanding of the tech world.</p>
                    
                    <ul class="social-links">
                        <li><a href="mailto:kenkilachei@gmail.com" target="_blank" aria-label="Email"><img class="socials" src="{% static 'images/email.jpeg' %}" alt="Email"></a></li>
                        <li><a href="https://x.com/kilachei1" target="_blank" aria-label="X"><img class="socials" src="{% static 'images/x.png' %}" alt="X"></a></li>
                        <li><a href="https://www.linkedin.com/in/kenneth-kilachei-79407b1b4/" target="_blank" aria-label="LinkedIn"><img class="socials" src="{% static 'images/linked.png' %}" alt="LinkedIn"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <!-- Content for the card in the first column -->
                    <h1>Experience as a Full Stack Developer with Django and Python</h1>
                    <br>
                    <p>As a Full Stack Developer with a focus on Django and Python, I have had the opportunity to work on a variety of projects that span both front-end and back-end development. My expertise in Python, coupled with the powerful Django framework, has enabled me to build robust and scalable web applications from the ground up. I am adept at designing and implementing RESTful APIs, managing database interactions, and ensuring seamless integration between the client and server sides of applications. My experience includes working with front-end technologies such as HTML, CSS, and JavaScript to create responsive and user-friendly interfaces. I am also skilled in deploying applications using modern DevOps practices, ensuring they are secure, efficient, and reliable. This comprehensive skill set allows me to deliver end-to-end solutions that meet client needs and drive business success.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <!-- Content for the card in the second column -->
                    <h1>What I Know</h1>
                    <br>
                    <p>I have a solid foundation in full stack development, with extensive experience in Django and Python for backend development. My skills include designing and implementing RESTful APIs, managing complex database interactions, and building scalable applications. On the front end, I am proficient in HTML, CSS, and JavaScript, including modern frameworks like Bootstrap and Tailwind CSS, which I use to create responsive and visually appealing user interfaces. Additionally, I am knowledgeable in SQL for database management and deployment strategies, ensuring the applications I build are both robust and efficient. My approach to development is holistic, focusing on both the technical and user experience aspects to deliver high-quality, functional solutions.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <!-- Content for the card in the first column -->
                    <h1>How I Learn</h1>
                    <br>
                    <p>My journey with Django began with a strong curiosity about web development and a desire to build robust, scalable web applications. I started by exploring Django's official documentation and taking online tutorials to understand its core concepts and features. I engaged in hands-on practice by creating small projects, which allowed me to apply what I learned in real-world scenarios. Through these projects, I gained experience with Django’s powerful ORM, templating system, and built-in authentication. As I progressed, I tackled more complex applications, deepening my understanding of Django's advanced functionalities like custom middleware, signals, and RESTful API development using Django Rest Framework. By continuously experimenting, learning from the community, and working on diverse projects, I developed a solid proficiency in Django that has become a cornerstone of my development skill set.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <!-- Content for the card in the second column -->
                    <h1>My Short-Term Goals</h1>
                    <br>
                    <p>My short-term goals are focused on enhancing my technical skills and advancing my career in software development. I aim to deepen my expertise in Django and Python by working on more complex projects and exploring advanced features of these technologies. Additionally, I plan to expand my knowledge of modern front-end frameworks and tools to create even more dynamic and responsive user interfaces. I am also committed to improving my understanding of best practices in software development, including version control, testing, and deployment. By setting these goals, I seek to contribute more effectively to my projects and stay current with industry trends and technologies.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
